
.App {
  text-align: center;
  background: linear-gradient(180deg, #000000 0%, #01000E 100%);
  aspect-ratio: 16/9;
  border: 1px solid blue;
}


.parentDiv {
  position: relative;
  width: 100%;
  height: 100%;
}



