.splash-screen {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .splash-screen .button {
    position: absolute;
    transform-origin: (50%,50%);
    height: auto;
    left: 50%;
    top: 50%;
  }
  
  .splash-screen .button.green {
    width: 120px;
    transform: translate(120%, 45%) rotate(-25deg);
    z-index: 9;
  
  }
  
  .splash-screen .button.red {
    width: 160px;
    transform: translate(150%, 15%) rotate(25deg);
    z-index: 8;
  }